<style>
    .footer{
        background-color: gray;
        padding: 10px;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 0;
        padding-bottom: 40px;
    }
    footer p{
        padding-top: 1px;
        margin: 0;
        color: white;
        font-size: 14px;
    }
    .footer_left_box{
        margin-right: 0;
    }
</style>
<footer>
    <div class="footer">
        <p>캠퍼스콤파스 서강</p>
        <div class="footer_left_box" style="float: right;">
            <p>010-9141-1662</p>
            <p>uknowhat@sogang.ac.kr</p>
            <p>Sogang University</p>
        </div>
        <br>
        <p>all rights reserved 2021</p>
    </div>
</footer>
