<nav class="navbar_">
  <a href="#" class="nav_toggle">
    <i class="fas fa-bars"></i>
  </a>
  <div class="nav_logo">
    <a href="/">캠퍼스콤파스</a>
  </div>
  <div class="nav_sogang">
    <a href="https://www.sogang.ac.kr/"><img src="../public/img/logo.png" alt="서강대학교"></a>
  </div>
  <ul class="nav_menu">
    <li><a href="/newqna">최근질문</a></li>
    <li><a href="/qna">Q&A</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/help">고객지원</a></li>
  </ul>




</nav>
