<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="favicon.ico?v=1.1">
        <title>Campus Compass</title>
    </head>
    <body>
        Hello World
    </body>
</html>
