<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="favicon.ico?v=1.1">
        <title>Campus Compass</title>
    </head>
    <body>
        <br>
        Hello World
        <br>
        <% content_faq.forEach(function(value){ %>
            <%= value.f_question %></p>
        <% }); %>
        <br>
        Hello World
        <br>
        <% content_qna.forEach(function(value){ %>
            <%= value.q_question %></p>
        <% }); %>
    </body>
</html>
